body{
    background-color: antiquewhite;
}

h1{
    color: #ff00ff;
    text-align: center;
}

.naslov{
    font-family: sans-serif;
}

#sadrzaj p{
    line-height: 0.9rem;
    color: blue;

}

ul{
    list-style: none;
}

ul li::before{
    content: '🤓';
}

ol{
    list-style-type: upper-roman;
}

mark {
  background-color: #bfeeb0;
  padding: 3px 6px;
  border-radius: 6px;
  box-shadow: 0 0 0 3px #fce4ec;
}